* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#para {
    animation: para 10s infinite linear ease-in-out;
    color: rgb(240, 36, 36);
}

@keyframes para {
    from {
        transform: translate(-500px, 0px);
    }
    to {
        transform: translate(500px, 0px);
    }
}