* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#p {
    animation: p 10s infinite linear ease-in-out;
    color: indianred;
}

@keyframes p {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(500px);
    }
}